 <div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>I like long walks on the beach, with the wind in my beard. I love the feel of beach spray on my face, and chocolate. I love chocolate. </p>
    </div>
   
    <div class="sidebar-module">
      <h4>Elsewhere</h4>
      <ol class="list-unstyled social-links">
        <li><a href="#"><%=fa_icon "github" %></li>
        <li><a href="#"><%=fa_icon "instagram" %></li>
        <li><a href="#"><%=fa_icon "facebook" %></li>
        <li><a href="#"><%=fa_icon "twitter" %></li>
      </ol>
    </div>
  </div>