<h1>About Me</h1>
<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "profile_pic.jpg", width: 300, alt: "Profile image" %>	
	</div>

	<div class="col-md-8">
		<p> The passion of learning new and exciting ways to develop and create different is what drives me to build a product that truly sets itself apart. </p>


	</div>	
</div>