<div class="app-card-container">
	<div class="card">
		<hr1> About Me </hr1>

	<div class="row">
	<div class="col-md-4">
		<%= image_tag "profile_pic.jpg", width: 250, alt: "Profile image", class: 'profile-img'%>	
	</div>

	<div class="col-md-8">
		<p> The passion of learning new and exciting ways to develop and create different projects is what drives me to build a product that truly sets itself apart. </p>


			</div>	
		</div>
	</div>
</div>

